<h1>Edit post</h1>
<form action="/posts/update">
	<input type="hidden" name="post[id]" value="<%= post.id %>">
	<input type="text" name="post[title]" value="<%= post.title %>"> <br />
	<textarea name="post[body]" id="" cols="30" rows="10"><%= post.body %></textarea> <br />
	<button type="submit">Save</button>
</form>