<h1>Create  new post</h1>
<form action="/posts/create">
	<input type="text" name="post[title]"> <br />
	<textarea name="post[body]" id="" cols="30" rows="10"></textarea> <br />
	<button type="submit">Create</button>
</form>